
#d2_output .result {
    font-size: 60%;
}

#d2_output_all .result {
    font-size: 80%;
}

#mumbo_jumbo .result {
    font-size: 60%;
    word-wrap: break-word;
}

.graph_example .sh_sourceCode {
    float: left;
    width: 40%;
}

.reduce_source_code_size .sh_sourceCode {
    font-size: 200%;
}
